root = true

# >>> template:base
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml,json,json5,toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
# List continuation and nested content follow Markdown, not code, indentation.
indent_size = unset

[{Makefile,*.mk}]
indent_style = tab
# <<< template:base

[*.mcmeta]
indent_size = 2

[*.bat]
end_of_line = crlf

[gradle/wrapper/gradle-wrapper.jar]
charset = unset
end_of_line = unset
insert_final_newline = unset
