# >>> template:base
* text=auto eol=lf

*.png  binary
*.jpg  binary
*.zip  binary
# <<< template:base

*.bat  text eol=crlf
*.cmd  text eol=crlf

gradlew text eol=lf

*.jar  binary
*.ogg  binary
*.nbt  binary

# Datagen output: collapse in PR diffs
common/src/generated/** linguist-generated=true
